body {
  height: 100vh;
  margin: 0;
  display: flex;
}

table.sudoku {
  border-collapse: collapse;
  margin: auto;
  border: medium solid black;
  td {
    border: thin solid lightgray;
    width: 3rem;
    height: 3rem;
    text-align: center;
    vertical-align: middle;
  }
  td:nth-child(3n) {
    border-right: medium solid black;
  }
  tr:nth-child(3n) {
    border-bottom: medium solid black;
  }
}
