@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Henny+Penny&display=swap");

body {
  font-family: "EB Garamond", serif;
}

h1 {
  font-family: "Henny Penny", sans-serif;
}

form.fancy-form {
  overflow: auto;
  max-width: 50%;
  background-color: mintcream;
  width: 400px;
  border: thin solid black;
}

form.fancy-form div {
  margin: 1em;
}

form.fancy-form label {
  display: block;
}

form.fancy-form label:has(+ :is(input, select, textarea)[required])::after {
  content: "*";
  color: red;
  vertical-align: super;
  font-size: small;
}

form.fancy-form input[type="checkbox"]:not(:checked) + fieldset.conditional {
  display: none;
}

form.fancy-form :is(input, select, textarea) {
  border: medium solid darkslateblue;
  border-radius: 0.25em;
  width: 100%;
  box-sizing: border-box;
}

form.fancy-form > div:last-of-type {
  display: flex;
  justify-content: center;
}

form.fancy-form button[type="submit"] {
  background-color: darkslateblue;
  color: white;
}

form.fancy-form input[type="email"]:invalid {
  background-color: tomato;
  color: white;
}

form.fancy-form :focus {
  border-color: gold;
  border-width: thick;
}

form.fancy-form div.radio-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

form.fancy-form :is(input[type="radio"], input[type="radio"] + label) {
  display: inline-block;
  width: auto;
}
