body{
    background-color: green;
}

.card{
    background-color: white;
    border: medium solid black;
    border-radius: 0.5em;
    width: 3.5in;
    height: 2.5in;
    margin: 1em;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card[data-rank="A"] span.rank::before{
    content: "A";
}

.card[data-suit=spades] span.suit::before{
    content: "\2660";
}


.card[data-suit=clubs] span.suit::before{
    content: "\2663";
}

.card[data-suit=hearts] span.suit::before{
    content: "\2665";
}

.card[data-suit=diamonds] span.suit::before{
    content: "\2666";
}

.card:is([data-suit=diamonds], [data-suit=hearts]){
    color: red;
}

.card:is([data-suit=clubs], [data-suit=spades]){
    color: black;
}

.card :is(.topLeft, .bottomRight){
    display: inline-block;
    font-size: 200%;
    padding: 0.25em;
    text-align: center;
}

.card .center{
    font-size: 400%;
}

.card .bottomRight{
    transform: rotate(180deg);
}

