
movies {
  background-color: mintcream;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  margin: 1em;
}

movie {
  display: list-item;
  list-style-type: disc;
  margin-left: 2em;
  padding: 0.25em;
}

title {
  display: none;
}

title:lang(en) {
  display: inline;
}

year::before {
  content: "(";
}

year::after {
  content: ")";
}

genre,
rating,
movie:hover::after {
  color: white;
  border-radius: 0.25em;
  padding: 0.25em;
}

genre {
  background-color: blueviolet;
  display: inline-block;
  width: 5em;
  text-align: center;
}

rating {
  background-color: hotpink;
}

rating::after {
  content: "/10";
}

votes::before {
  content: " from ";
}

votes::after {
  content: " ratings ";
}

movie:hover::after {
  background-color: gold;
  color: blueviolet;
  font-size: large;
  content: "https://ww.imdb.com/title/tt" attr(id);
  cursor: pointer;
}

movie:is([mpa-rating="R"], [mpa-rating="NC-17"]) > :is(title, year) {
  color: red;
  font-weight: bold;
}
