@import "card.css";

body {
  margin: 0;
  background-color: green;
}

.cards {
  display: flex;
  gap: 1em;
  margin: 1em;
}

@media screen and (max-width: calc(10in + 5em)) {
  .cards {
    flex-direction: column;
  }
}
